{% load static %}
<section data-id="about-me" class="animated-section">
   <div class="section-content">

      <div class="row flex-v-align">
         <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="home-text hp-left">

               <div class="owl-carousel text-rotation">
                  {% for career in user.careers.all %}
                  <div class="item">
                     <h4>{{career.title}}</h4>
                  </div>
                  {% endfor %}
               </div>

               <h1>{{user.fullname}}</h1>
               <p>{{user.carrier_summary}}</p>

               <div class="home-buttons">
                  <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
                  <a href="#" target="_self" class="btn btn-secondary">Contact</a>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="home-photo">
               <div class="hp-inner" style="background-image: url('{{user.photo.url}}');">
               </div>
            </div>
         </div>
      </div>
      <div class="white-space-70"></div>
      <!-- Fun Facts -->
      <div class="row">
         <div class="col-xs-12 col-sm-4">
            <div class="fun-fact gray-default">
               <i class="lnr lnr-heart"></i>
               <h4>Happy Clients</h4>
               <span class="fun-fact-block-value">578</span>
               <span class="fun-fact-block-text"></span>
            </div>
         </div>

         <div class="col-xs-12 col-sm-4">
            <div class="fun-fact gray-default">
               <i class="lnr lnr-clock"></i>
               <h4>Working Hours</h4>
               <span class="fun-fact-block-value">4,780</span>
               <span class="fun-fact-block-text"></span>
            </div>
         </div>

         <div class="col-xs-12 col-sm-4 ">
            <div class="fun-fact gray-default">
               <i class="lnr lnr-star"></i>
               <h4>Awards Won</h4>
               <span class="fun-fact-block-value">15</span>
               <span class="fun-fact-block-text"></span>
            </div>
         </div>
      </div>
      <!-- End of Fun Facts -->


      {% if services %}
      <div class="white-space-70"></div>

      <!-- Services -->
      <div class="row">
         <div class="col-xs-12 col-sm-12">
            <div class="block-title">
               <h3>What I Do</h3>
            </div>
         </div>
      </div>

      <div class="row">
         {% for service in services %}  
         <div class="col-6">
            <div class="col-inner">
               <div class="info-list-w-icon">
                  <div class="info-block-w-icon">
                     <div class="ci-icon">
                        <i class="lnr lnr-store"></i>
                     </div>
                     <div class="ci-text">
                        <h4>{{service.name}}</h4>
                        <p>{{service.service_description}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <!-- End of Services -->
      {% endif %}

      {% if testimonials %}
      <div class="white-space-50"></div>
      <!-- Testimonials -->
      <div class="row">
         <div class="col-xs-12 col-sm-12">
            <div class="block-title">
               <h3>Testimonials</h3>
            </div>
         </div>
      </div>
      <!-- Begin of testimonials -->
      <div class="row">
         <div class="col-xs-12 col-sm-12">
            <div class="testimonials owl-carousel">
               <!-- Testimonial 1 -->
               {% for testimonial in testimonials %}
               <div class="testimonial">
                  <div class="img">
                     <img src="{% static '{{testimonial.photo.url}}' %}" alt="{{user.fullname}}">
                  </div>
                  <div class="text">
                     <p>{{testimonial.testimonial}}</p>
                  </div>

                  <div class="author-info">
                     <h4 class="author">{{testimonial.name}}</h4>
                     <h5 class="company">{{testimonial.company_name}}</h5>
                     <div class="icon">
                        <i class="fas fa-quote-right"></i>
                     </div>
                  </div>
               </div>
               {% endfor %}
               <!-- End of Testimonial 1 -->
            </div>
         </div>
      </div>
      <!-- End of Testimonials -->
      {% endif %}

      <div class="white-space-70"></div>

      <div class="white-space-70"></div>

   </div>
</section>