{% load static %}
<section data-id="blog" class="animated-section">
   <div class="section-content">
      <div class="page-title">
         <h2>Blog</h2>
         <h4>My Diary</h4>
      </div>

      <div class="row">
         <div class="col-xs-12 col-sm-12">
            <ul class="grid-filters blog-filters">
               <li class="active">
                  <a class="filter btn btn-sm btn-link" data-filter=".category_all">All</a>
               </li>
               <li>
                  <a class="filter btn btn-sm btn-link" data-filter=".category_ui">UI</a>
               </li>
               <li>
                  <a class="filter btn btn-sm btn-link" data-filter=".category_design">Design</a>
               </li>
               <li>
                  <a class="filter btn btn-sm btn-link" data-filter=".category_ecommerce">E-Commerce</a>
               </li>
            </ul>

            <div class="blog-masonry two-columns clearfix">

               <!-- Blog Post 1 -->
               <div class="item post-1 category_all category_design">
                  <div class="blog-card">
                     <div class="media-block">
                        <div class="category">
                           <a href="#" title="View all posts in Design">Design</a>
                        </div>
                        <a href="blog-post-1.html">
                           <img src="{% static 'img/blog/blog_post_1.jpg' %}" class="size-blog-masonry-image-two-c"
                              alt="Why I Switched to Sketch For UI Design" title="" />
                           <div class="mask"></div>
                        </a>
                     </div>
                     <div class="post-info">
                        <div class="post-date">05 Mar 2022</div>
                        <a href="blog-post-1.html">
                           <h4 class="blog-item-title">Why I Switched to Sketch For UI
                              Design</h4>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- End of Blog Post 1 -->

               <!-- Blog Post 2 -->
               <div class="item post-2 category_all category_ui">
                  <div class="blog-card">
                     <div class="media-block">
                        <div class="category">
                           <a href="#" title="View all posts in WordPress">WordPress</a>
                        </div>
                        <a href="blog-post-1.html">
                           <img src="{% static 'img/blog/blog_post_2.jpg' %}" class="size-blog-masonry-image-two-c"
                              alt="Best Practices for Animated Progress Indicators" title="" />
                           <div class="mask"></div>
                        </a>
                     </div>
                     <div class="post-info">
                        <div class="post-date">23 Feb 2022</div>
                        <a href="blog-post-1.html">
                           <h4 class="blog-item-title">How to Make a WordPress Plugin
                              Extensible</h4>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- End of Blog Post 2 -->

               <!-- Blog Post 3 -->
               <div class="item post-1 category_all category_design">
                  <div class="blog-card">
                     <div class="media-block">
                        <div class="category">
                           <a href="#" title="View all posts in Design">Design</a>
                        </div>
                        <a href="blog-post-1.html">
                           <img src="{% static 'img/blog/blog_post_3.jpg' %}" class="size-blog-masonry-image-two-c"
                              alt="Designing the Perfect Feature Comparison Table" title="" />
                           <div class="mask"></div>
                        </a>
                     </div>
                     <div class="post-info">
                        <div class="post-date">06 Feb 2022</div>
                        <a href="blog-post-1.html">
                           <h4 class="blog-item-title">6 Easy Steps to Better Icon Design
                           </h4>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- End of Blog Post 3 -->

               <!-- Blog Post 4 -->
               <div class="item post-2 category_all category_ecommerce">
                  <div class="blog-card">
                     <div class="media-block">
                        <div class="category">
                           <a href="#" title="View all posts in E-Commerce">E-Commerce</a>
                        </div>
                        <a href="blog-post-1.html">
                           <img src="{% static 'img/blog/blog_post_4.jpg' %}" class="size-blog-masonry-image-two-c"
                              alt="An Overview of E-Commerce Platforms" title="" />
                           <div class="mask"></div>
                        </a>
                     </div>
                     <div class="post-info">
                        <div class="post-date">07 Jan 2022</div>
                        <a href="blog-post-1.html">
                           <h4 class="blog-item-title">An Overview of E-Commerce Platforms
                           </h4>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- End of Blog Post 4 -->
            </div>
         </div>
      </div>
   </div>
</section>