<section data-id="contact" class="animated-section">
   <div class="section-content">
      <div class="page-title">
         <h2>Contact</h2>
         <h4>Get in Touch</h4>
      </div>

      <div class="row">
         <!-- Contact Info -->
         <div class="col-xs-12 col-sm-4">
            <div class="lm-info-block gray-default">
               <i class="lnr lnr-map-marker"></i>
               <h4>{{user.location}}</h4>
               <span class="lm-info-block-value"></span>
               <span class="lm-info-block-text"></span>
            </div>
         </div>

         <div class="col-xs-12 col-sm-4">
            <div class="lm-info-block gray-default">
               <i class="lnr lnr-phone-handset"></i>
               <h4>{{user.phone}}</h4>
               <span class="lm-info-block-value"></span>
               <span class="lm-info-block-text"></span>
            </div>
         </div>

         <div class="col-xs-12 col-sm-4">
            <div class="lm-info-block gray-default">
               <i class="lnr lnr-envelope"></i>
               <h4><a href="#">{{user.email}}</a>
               </h4>
               <span class="lm-info-block-value"></span>
               <span class="lm-info-block-text"></span>
            </div>
         </div>
         <!-- End of Contact Info -->
      </div>

      <div class="row">
         <!-- Google Map -->
         <div class="col-xs-12 col-sm-12">
            <div class="white-space-20"></div>
            <!-- Google Map -->
            <div class="">
               <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.432301200643!2d-0.1878920857050319!3d5.650428634264782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9c80c7ae855f%3A0x877b99ae8e6ee790!2sAkuafo%20Hall!5e0!3m2!1sen!2sgh!4v1656935750479!5m2!1sen!2sgh"
                  width="680" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
         </div>
         <!-- End of Google Map -->
      </div>


      <div class="row">
         <div class="col-xs-12 col-sm-2">
         </div>
         <!-- Contact Form -->
         <div class="col-xs-12 col-sm-8">
            <div class="white-space-30"></div>
            <div class="block-title">
               <h3>How Can I Help You?</h3>
            </div>

            <form id="contact_form" class="contact-form" action="#" method="post">
               {% csrf_token %}
               <div class="controls two-columns">
                  <div class="fields clearfix">
                     <div class="left-column">
                        <div class="form-group form-group-with-icon">
                           <input id="form_name" type="text" name="name" class="form-control" placeholder=""
                              required="required" data-error="Name is required.">
                           <label>Full Name</label>
                           <div class="form-control-border"></div>
                           <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group form-group-with-icon">
                           <input id="form_email" type="email" name="email" class="form-control" placeholder=""
                              required="required" data-error="Valid email is required.">
                           <label>Email Address</label>
                           <div class="form-control-border"></div>
                           <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group form-group-with-icon">
                           <input id="form_subject" type="text" name="subject" class="form-control" placeholder=""
                              required="required" data-error="Subject is required.">
                           <label>Subject</label>
                           <div class="form-control-border"></div>
                           <div class="help-block with-errors"></div>
                        </div>
                     </div>
                     <div class="right-column">
                        <div class="form-group form-group-with-icon">
                           <textarea id="form_message" name="message" class="form-control" placeholder="" rows="7"
                              required="required" data-error="Please, leave me a message."></textarea>
                           <label>Message</label>
                           <div class="form-control-border"></div>
                           <div class="help-block with-errors"></div>
                        </div>
                     </div>
                  </div>
                  <input type="submit" class="button btn-send" value="Send message">
               </div>
            </form>
         </div>
         <!-- End of Contact Form -->
      </div>

   </div>
</section>