{% load static %}
<header id="site_header" class="header mobile-menu-hide">
   <div class="header-content">
      <div class="header-photo">
         <img src="{% static 'img/main_photo.jpg' %}" alt="{{user.fullname}}">
      </div>
      <div class="header-titles">
         <h2>{{user.fullname}}</h2>
         <h4>Web Designer</h4>
      </div>
   </div>

   <ul class="main-menu">
      <li>
         <a href="#about-me" class="nav-anim">
            <span class="menu-icon lnr lnr-user"></span>
            <span class="link-text">About Me</span>
         </a>
      </li>
      <li>
         <a href="#resume" class="nav-anim">
            <span class="menu-icon lnr lnr-graduation-hat"></span>
            <span class="link-text">Resume</span>
         </a>
      </li>
      <li>
         <a href="#portfolio" class="nav-anim">
            <span class="menu-icon lnr lnr-briefcase"></span>
            <span class="link-text">Portfolio</span>
         </a>
      </li>
      <li>
         <a href="#blog" class="nav-anim">
            <span class="menu-icon lnr lnr-book"></span>
            <span class="link-text">Blog</span>
         </a>
      </li>
      <li>
         <a href="#contact" class="nav-anim">
            <span class="menu-icon lnr lnr-envelope"></span>
            <span class="link-text">Contact</span>
         </a>
      </li>
   </ul>

   <div class="social-links">
      <ul>
         <li><a href="#" target="_blank"><i class="bi bi-twitter"></i></a></li>
         <li><a href="#" target="_blank"><i class="bi bi-linkedin"></i></i></a></li>
         <li><a href="#" target="_blank"><i class="bi bi-facebook"></i></i></a></li>
      </ul>
   </div>

   <div class="info-list">
      <ul>
         <li>
            <span class="value">{{user.phone}}</span>
         </li>

         <li>
            <span class="value"><a href="#" class="">{{user.email}}</a></span>
         </li>
      </ul>
   </div>

   <div class="header-buttons">
      <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
   </div>

   <div class="copyrights">© {% now "Y" %} All rights reserved.</div>
</header>