{% load static %}
<!-- start navbar -->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
   <div class="container">
      <a href="index.html" class="navbar-brand">
         <img src="{% static 'frontend/images/logo-sm.png' %}" class="logo-sm" alt="" height="24" />
         <img src="{% static 'frontend/images/logo-light.png' %}" class="logo-light" alt="" height="16" />
         <img src="{% static 'frontend/images/logo-dark.png' %}" class="logo-dark" alt="" height="16" />
      </a>
      <!--end navbar-brand-->
      <a href="javascript:void(0)" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggle-icon"><i data-feather="menu"></i></span>
      </a>
      <!--end navbar-toggler-->

      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav mx-auto navbar-center mt-lg-0 mt-2">
            <li class="nav-item">
               <a class="nav-link active" href="index.html">Home</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link" href="about.html">About</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link" href="services.html">Services</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link" href="resume.html">Resume</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link" href="blogs.html">Blogs</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <!--end nav-item-->
         </ul>
         <!--end navbar-nav-->
         <a href="#" class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0">Hire Me! <i class="icon-xxs ms-1"
               data-feather="chevrons-right"></i></a>
      </div>
      <!-- end #navbarNav -->
   </div>
   <!-- end container -->
</nav>
<!-- end navbar -->