{% load static %}
<!-- start navbar -->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
   <div class="container">
      <a href="{% url 'frontend:index' %}" class="navbar-brand">
         <img src="{% static 'frontend/images/logo-sm.png' %}" class="logo-sm" alt="" height="24" />
         <img src="{% static 'frontend/images/logo-light.png' %}" class="logo-light" alt="" height="16" />
         <img src="{% static 'frontend/images/logo-dark.png' %}" class="logo-dark" alt="" height="16" />
      </a>
      <!--end navbar-brand-->
      <a href="javascript:void(0)" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggle-icon"><i data-feather="menu"></i></span>
      </a>
      <!--end navbar-toggler-->

      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav mx-auto navbar-center mt-lg-0 mt-2">
            <li class="nav-item">
               <a class="nav-link {% block home_active %}active{% endblock %}" href="{% url 'frontend:index' %}">Home</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link {% block about_active %}{% endblock about_active %}" href="{% url 'frontend:about' %}">About</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link {% block services_active %}{% endblock services_active %}" href="{% url 'frontend:services' %}">Services</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link {% block resume_active %}{% endblock resume_active %}" href="{% url 'frontend:resume' %}">Resume</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link {% block projects_blog_active %}{% endblock projects_blog_active %}" href="{% url 'frontend:projects' %}">Projects</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link {% block blog_active %}{% endblock blog_active %}" href="{% url 'frontend:blogs' %}">Blogs</a>
            </li>
            <!--end nav-item-->
            <li class="nav-item">
               <a class="nav-link {% block contact_active %}{% endblock contact_active %}" href="{% url 'frontend:contact' %}">Contact</a>
            </li>
            <!--end nav-item-->
         </ul>
         <!--end navbar-nav-->
         <a href="#" class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0">Hire Me! <i class="icon-xxs ms-1"
               data-feather="chevrons-right"></i></a>
      </div>
      <!-- end #navbarNav -->
   </div>
   <!-- end container -->
</nav>
<!-- end navbar -->