{% load static %}
<section data-id="resume" class="animated-section">
   <div class="section-content">
      <div class="page-title">
         <h2>Resume</h2>
         <h4>4 Years of Experience in Information Technology</h4>
      </div>

      <div class="row">
         <div class="col-xs-12 col-sm-7">
            {% for resume in resumes %}
            <div class="block-title">
               <h3>{{resume.domain}}</h3>
            </div>

            <div class="timeline timeline-second-style clearfix">
               {% for project in resume.projects.all %}
               <div class="timeline-item clearfix">
                  <div class="left-part">
                     <h5 class="item-period">{{project.year}}</h5>
                     <span class="item-company">{{project.name}}</span>
                  </div>
                  <div class="divider"></div>
                  <div class="right-part">
                     <h4 class="item-title">{{project.role}}</h4>
                     <p>{{project.description}}</p>
                  </div>
               </div>
               {% endfor %}
            </div>
            {% endfor %}

            <div class="white-space-50"></div>
         </div>

         <!-- Skills & Certificates -->
         <div class="col-xs-12 col-sm-5">
            <!-- Design Skills -->
            <div class="block-title">
               <h3>Design Skills</h3>
            </div>

            <div class="skills-info skills-second-style">
               <!-- Skill 1 -->
               <div class="skill clearfix">
                  <h4>Web Design</h4>
                  <div class="skill-value">95%</div>
               </div>
               <div class="skill-container">
                  <div class="skill-percentage" style="width: 95%"></div>
               </div>
               <!-- End of Skill 1 -->

               <!-- Skill 2 -->
               <div class="skill clearfix">
                  <h4>Print Design</h4>
                  <div class="skill-value">65%</div>
               </div>
               <div class="skill-container skill-2">
                  <div class="skill-percentage"></div>
               </div>
               <!-- End of Skill 2 -->

               <!-- Skill 3 -->
               <div class="skill clearfix">
                  <h4>Logo Design</h4>
                  <div class="skill-value">80%</div>
               </div>
               <div class="skill-container skill-3">
                  <div class="skill-percentage"></div>
               </div>
               <!-- End of Skill 3 -->

               <!-- Skill 4 -->
               <div class="skill clearfix">
                  <h4>Graphic Design</h4>
                  <div class="skill-value">90%</div>
               </div>
               <div class="skill-container skill-4">
                  <div class="skill-percentage"></div>
               </div>
               <!-- End of Skill 4 -->

            </div>
            <!-- End of Design Skills -->

            <div class="white-space-10"></div>
            <!-- Coding Skills -->
            <div class="block-title">
               <h3>Coding Skills</h3>
            </div>

            <div class="skills-info skills-second-style">
               <!-- Skill -->
               <div class="skill clearfix">
                  <h4>JavaScript</h4>
                  <div class="skill-value">95%</div>
               </div>
               <div class="skill-container">
                  <div class="skill-percentage" style="width: 95%"></div>
               </div>
               <!-- End of Skill 5 -->

            </div>
            <!-- End of Coding Skills -->

            <div class="white-space-10"></div>

            <!-- Knowledges -->
            {% if knowledges %}
            <div class="block-title">
               <h3>Knowledges</h3>
            </div>

            <ul class="knowledges">
               {% for knowledge in knowledges %}
               <li>{{knowledge.name}}</li>
               {% endfor %}
            </ul>
            {% endif %}
            <!-- End of Knowledges -->
         </div>
         <!-- End of Skills & Certificates -->
      </div>

      <div class="white-space-50"></div>
      {% if certificates %}

      <!-- Certificates -->
      <div class="row">
         <div class="col-xs-12 col-sm-12">
            <div class="block-title">
               <h3>Certificates</h3>
            </div>
         </div>
      </div>

      <div class="row">
         {% for certificate in certificates %} 
         <div class="col-xs-12 col-sm-6">
            <div class="certificate-item clearfix">
               <div class="certi-logo">
                  <img src="{% static 'img/clients/client-1.png' %}" alt="logo">
               </div>

               <div class="certi-content">
                  <div class="certi-title">
                     <h4>{{certificate.name}}</h4>
                  </div>
                  <div class="certi-id">
                     <span>Membership ID: XXXX</span>
                  </div>
                  <div class="certi-date">
                     <span>19 April {{certificate.year}}</span>
                  </div>
                  <div class="certi-company">
                     <span></span>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <!-- End of Certificates -->
      {% endif %}
   </div>
</section>