{% extends "website/base/base.html" %}
{% load static %}

{% block content %}

<!-- start hero -->
<section class="hero-one position-relative bg-black" id="about"
    style="background-image: url(images/personal/main-bg.png); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="row align-items-center justify-content-center py-100">
            <div class="col-lg-9 text-center py-5 text-center">
                <h5 class="head-title py-4" aria-label="Blog Detail"></h5>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- end container -->
</section>
<!-- end hero -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- start resume -->
<section class="section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9">
                <div class="card border-0 shadow-none">
                    <div class="card-body">
                        <div class="mb-5 text-center">
                            <p class="text-muted fw-semibold fs-18">{{blog.publish_date|date:"d M, Y"}}</p>
                            <h3 class="my-3 fs-28 d-block fw-medium text-dark">{{blog.title}}</h3>
                            <span class="badge px-3 py-2 bg-light text-dark fw-semibold mt-3 fs-13">Minting</span>
                            <span class="badge px-3 py-2 bg-light text-dark fw-semibold mt-3 fs-13">NFTs</span>
                            <span class="badge px-3 py-2 bg-light text-dark fw-semibold mt-3 fs-13">Art</span>
                            <span class="badge px-3 py-2 bg-light text-dark fw-semibold mt-3 fs-13">Music</span>
                        </div>
                        <div class="my-5">
                            <div class="text-muted fs-16">
                                <p>{{blog.body|safe}}</p>
                            </div>
                        </div>
                        <div class="mb-5">
                            <h3 class="mt-3 fs-24 d-block fw-medium text-dark">Latest Blog Posts</h3>
                            <p class="text-muted fw-semibold fs-14">26 march 2022</p>
                            <div class="row">
                                <div class="col-12">
                                    <div
                                        class="row row-cols-xl-4 row-cols-lg-4 row-cols-md-2 g-3 justify-content-center">
                                        {% for latest_blog in latest_blogs %}
                                        {% if latest_blog.id != blog.id %}
                                        <div class="col">
                                            <a href="#" class="d-block bg-card shadow p-2 rounded catagories-box">
                                                <img src="{% static 'frontend/images/personal/6.jpg' %}" alt=""
                                                    class="img-fluid rounded mb-2">
                                                <h3 class="fs-15 m-0 fw-medium">{{latest_blog.title|truncatewords:10}}</h3>
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end row-->
                            </div>
                            <hr class="hr-dashed my-3">
                            <div class="row">
                                <div class="col-md">
                                    <div class="media">
                                        <img src="{% static 'frontend/images/users/user-1.jpg' %}" alt=""
                                            class="thumb-sm rounded-circle me-2">
                                        <div class="media-body align-self-center text-truncate">
                                            <h6 class="m-0 text-dark fw-medium">{{blog.owner}}</h6>
                                            <p class="mb-0 fs-12 text-muted fw-medium">{{blog.category}}</p>
                                        </div>
                                        <!--end media-body-->
                                    </div>
                                    <!--end media-->
                                </div>
                                <!--end col-->
                                <div class="col-md-auto">
                                    <button type="button" class="btn btn-sm btn-outline-primary px-4">Blogs</button>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!-- end container -->
</section>
<!-- end resume -->



<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 150" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M110 105L2160 0H2880V150H0V105H110Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

{% endblock content %}