{% extends "website/base/base.html" %}
{% block home_active %}active{% endblock%}
{% load static %}
{% block content %}
<!-- start hero -->
<section class="hero-one hero-video position-relative" id="home"
   style="background-image: url('static/frontend/images/personal/main-bg.png'); background-size: cover; background-position: center center;">
   <div class="bg-overlay"></div>
   <div id="youtubeEmbed" class="hero_video" data-video-id="LBNDfxjEYlA"></div>
   <div class="container">
      <div class="row align-items-center justify-content-center">

         <div class="col-lg-7 text-center px-0 px-xl-4 mt-5 mt-lg-0 pt-5 pt-lg-0">
            <h5 class="d-inline-block py-1 px-3 rounded text-muted font-secondary">Hi, I'm {{user.fullname}}</h5>
            <h4 class="hero-title mb-4 font-secondary fo">I'm a
               <!-- <div class="position-relative d-inline-block" style="margin-bottom: -20px;" data-delay="2200" data-words>
                  &nbsp;
                  {% if user.careers %}
                  <div class="text-anim-items">
                     {% for career in user.careers.all  %}
                     <span class="text-anim-item px-2"><span>{{career.title}}</span></span>
                     {% endfor %}
                  </div>
                  <span class="anim-line bg-orange"></span>
                  {% endif %}
                  </span>
               </div> -->
               Fullstack Developer
            </h4>
            <span class="wrap"></span>
            <div class="mb-5 mb-lg-0">
               <div class="d-inline-block">
                  <a href="#" class="btn btn-primary">Download CV</a>
               </div>
            </div>
         </div>
         <!--end col-->
         <div class="col-lg-5 mx-auto mt-5">
            <img src="{{user.get_photo_url}}" alt="" class="img-fluid ml-lg-5">
         </div>
         <!--end col-->
      </div>
      <!--end row-->
   </div><!-- end container -->
</section>
<!-- end hero -->
<div class="position-relative">
   <div class="shape overflow-hidden text-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
   </div>
</div>
<!-- start about -->
{% if user.carrier_summary and user.dob and user.spoken_languages and user.programming_language and frameworks%}
<section class="section" id="about">
   <div class="container">
      <div class="row align-items-center">
         {% if user.carrier_summary %}
         <div class="col-lg-6 align-self-center">
            <h5 class="fs-24 text-dark fw-medium"><mark>Personal Details</mark></h5>
            <h4 class="fw-normal lh-base text-gray-700 mb-4 fs-20">{{user.carrier_summary}}
            </h4>
            <div class="social">
               <a href="#">
                  <i class="lab la-github github me-1"></i>
               </a>
               <a href="#">
                  <i class="lab la-twitter twitter me-1"></i>
               </a>
               <a href="#">
                  <i class="lab la-google google me-1"></i>
               </a>
               <a href="#">
                  <i class="lab la-linkedin-in linkedin me-1"></i>
               </a>
            </div>
         </div>
         {% endif %}
         <!--end col-->
         <div class="col-lg-5 ms-auto align-self-center">
            <div class="mb-5 mb-lg-0">
               {% if user.dob %}
               <p class="mb-2">
                  <span class="personal-detail-title">Date of birth</span>
                  <span class="personal-detail-info">{{user.dob|date:"d M Y"}}</span>
               </p>
               {% endif %}
               {% if user.spoken_languages %}
               <p class="mb-2">
                  <span class="personal-detail-title">Spoken Languages</span>
                  <span class="personal-detail-info">
                     {% for lang in user.spoken_languages.all %}
                     {{lang.name}}
                     {% endfor %}
                  </span>
               </p>
               {% endif %}
               {% if user.nationality %}
               <p class="mb-2">
                  <span class="personal-detail-title">Nationality</span>
                  <span class="personal-detail-info">{{user.nationality}}</span>
               </p>
               {% endif %}
               {% if user.programming_languages %}
               <p class="mb-2">
                  <span class="personal-detail-title">Programming Languages</span>
                  <span class="personal-detail-info">
                     {% for lang in user.programming_languages.all %}
                     {{lang.name}}
                     {% endfor %}
                  </span>
               </p>
               {% endif %}
            </div>
         </div>
         <!--end col-->
         {% if frameworks %}
         <div class="col-12 mt-5">
            <div class="d-flex flex-wrap justify-content-center  mt-4 mt-md-5">
               {% for framework in frameworks %}
               <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                  <div class="d-flex align-items-center">
                     <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                        <img src="{{framework.get_icon_url}}" alt="" class="" height="34">
                     </div>
                     <div class="ms-3">
                        <h6 class="mb-0 fw-medium text-gray-700">{{framework.name}}</h6>
                        <p class="text-muted mb-0 fs-12">{{framework.years_of_experience}} Year(s) Experience</p>
                     </div>
                  </div>
               </div>
               {% endfor %}
               <!--/div-->
            </div>
            <!-- End div -->
         </div>
         {% endif %}
         <!-- End Col -->
      </div>
      <!--end row-->
   </div>
   <!-- end container -->
</section>
<!-- end about -->
{% endif %}
<!-- start services -->
{% if services %}
<section class="section bg-gradient-light-white" id="services">
   <div class="container">
      <div class="row justify-content-center mb-4">
         <div class="col-12 col-md-10 col-lg-7 text-center position-relative">
            <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Services</span>
            <h2 class="fs-2 fw-medium lh-1 text-dark my-3 position-relative z-i-2">Our Services</h2>
            <div class="bg-text">
               <h1 class="fw-bold p-0">Services</h1>
            </div>
            <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
               We craft digital, graphic and dimensional thinking, to create category leading brand experiences
               that have meaning .
            </p>
         </div>
         <!--end col-->
      </div>
      <!--end row-->
      <div class="row">
         {% for service in services %}
         <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="card rounded shadow border-0">
               <div class="card-body p-4 m-2">
                  <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                     <!-- <i data-feather="layers" class="align-self-center svg-orange icon-md"></i> -->
                     <img src="{{service.get_icon_url}}" alt="" class="img-fluid" class="align-self-center svg-orange
                     icon-md">
                  </div>
                  <h5 class="text-dark fs-22 fw-medium my-4">{{service.name}}</h5>
                  <p class="text-muted pb-4">{{service.service_description|truncatewords:25}}.</p>
               </div>
               <!-- end card-body -->
            </div>
            <!-- end card -->
         </div>
         {% endfor %}
         <!-- end col -->
      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</section>
{% endif %}
<!-- end services -->


<!-- start resume -->
{% if resumes or schools %}
<section class="section" id="resume">
   <div class="container">
      <div class="row justify-content-center mb-4">
         <div class="col-12 col-md-10 col-lg-7 text-center">
            <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Life
               Time</span>
            <h2 class="fs-2 fw-medium lh-1 text-dark my-3">
               {% if schools and resumes %}
               Education & Experience
               {% elif schools %}
               Education
               {% elif resumes %}
               Experience
               {% endif %}
            </h2>
            <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
               We craft digital, graphic and dimensional thinking, to create category leading brand experiences
               that have meaning .
            </p>
         </div>
         <!--end col-->
      </div>
      <!--end row-->
      <div class="row">
         <div class="col-12">
            <div class="row g-0">
               {% if schools %}
               <div class="col-lg-4 col-md-6">
                  <div class="card rounded bg-light h-100 border-0">
                     <div class="card-body d-flex justify-content-center align-items-center">
                        <div class="mx-auto text-center">
                           <img src="{% static 'frontend/images/personal/school.png' %}" alt="" class="vector-dark"
                              height="150">
                           <img src="{% static 'frontend/images/personal/school-light.png' %}" alt=""
                              class="vector-light" height="150">
                           <h5 class="text-dark fs-22 fw-medium my-2">Education</h5>
                        </div>
                     </div>
                     <!-- end card-body -->
                  </div>
                  <!-- end card -->
               </div>
               <!-- end col -->
               <div class="col-lg-8 col-md-6">
                  <div class="card rounded bg-white  h-100 border-0">
                     <div class="card-body p-0">
                        <div class="accordion accordion-flush" id="Education_accordion">
                           {% for school in schools %}
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="prime">
                                 <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Education_{{school.id}}" aria-expanded="false">
                                    MSc IT Master Degree
                                    <span class="fw-medium text-primary ms-auto fs-14">{{school.entry_year}} -
                                       {{school.graduation_year}}</span>
                                 </button>
                              </h2>
                              <div id="Education_{{school.id}}"
                                 class="accordion-collapse collapse {% if forloop.counter == 1 %}show{%endif%}"
                                 aria-labelledby="prim" data-bs-parent="#Education_accordion">
                                 <div class="accordion-body">
                                    <p class="text-muted mb-3">{{school.short_information}}</p>
                                    </p>
                                    <p class="fw-medium">{{school.location}}</p>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                           <!--end accordion-item-->
                        </div>
                        <!--end accordion-->
                     </div>
                     <!-- end card-body -->
                  </div>
                  <!-- end card -->
               </div>
               <!-- end col -->
               {% endif %}
            </div>
            <!-- end row -->
            {% if resumes %}
            <hr class="hr-dashed">
            <div class="row g-0">
               <div class="col-lg-4 col-md-6">
                  <div class="card rounded bg-light h-100 border-0">
                     <div class="card-body d-flex justify-content-center align-items-center">
                        <div class="mx-auto text-center">
                           <img src="{% static 'frontend/images/personal/job.png' %}" alt="" class="vector-dark"
                              height="150">
                           <img src="{% static 'frontend/images/personal/job-light.png' %}" alt="" class="vector-light"
                              height="150">
                           <h5 class="text-dark fs-22 fw-medium my-2">Experience</h5>
                        </div>
                     </div>
                     <!-- end card-body -->
                  </div>
                  <!-- end card -->
               </div>
               <!-- end col -->
               <div class="col-lg-8 col-md-6">
                  <div class="card rounded bg-white  h-100 border-0">
                     <div class="card-body p-0">
                        <div class="accordion accordion-flush" id="Experience_accordion">
                           {% for resume in resumes %}
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="resume_{{resume.id}}">
                                 <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Experience_{{resume.id}}" aria-expanded="false">
                                    ABC themes - Web Design IT Company
                                    <span class="fw-medium text-primary ms-auto fs-14">2020 -
                                       2021</span>
                                 </button>
                              </h2>
                              <div id="Experience_{{resume.id}}"
                                 class="accordion-collapse collapse {% if forloop.counter == 1 %}show{%endif%}"
                                 aria-labelledby="resume_{{resume.id}}" data-bs-parent="#Experience_accordion">
                                 <div class="accordion-body">
                                    <p class="text-muted mb-1">- Delivered quality code by applying the
                                       best development practices</p>
                                    <p class="fw-medium">A-000 Chambers Street, Suite z-701 New York, NY
                                       10007, United States</p>
                                    <span
                                       class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Angular</span>
                                    <span
                                       class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">React</span>
                                    <span
                                       class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Python</span>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                           <!--end accordion-item-->
                        </div>
                        <!--end accordion-->
                     </div>
                     <!-- end card-body -->
                  </div>
                  <!-- end card -->
               </div>
               <!-- end col -->
            </div>
            {% endif %}
            <!--end row-->
         </div>
         <!-- end col -->
      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</section>
{% endif %}
<!-- end resume -->

<div class="position-relative">
   <div class="shape overflow-hidden text-light">
      <svg viewBox="0 0 2880 150" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M110 105L2160 0H2880V150H0V105H110Z" fill="currentColor"></path>
      </svg>
   </div>
</div>
<!--what client says -->
{% if testimonials %}
<section class="section bg-gradient-light-white" id="review">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 mx-auto">
            <div class="card rounded shadow ">
               <div class="client-carousel">
                  <div class="row align-items-center">
                     <div class="col-lg-10 p-5 mx-auto">
                        <div class="client-carousel">
                           <div id="demo" class="carousel carousel-dark slide" data-bs-ride="carousel"
                              data-bs-wrap="true">
                              <div class="carousel-inner">
                                 {% for testimonial in testimonials %}
                                 <div class="carousel-item text-center {% if forloop.counter == 1 %}active{%endif%}"
                                    data-bs-interval="4000">
                                    <img src="{% static 'frontend/images/logos/logo-1.svg' %}" alt="" class="my-3"
                                       height="70">
                                    <p class="font-secondary fs-22 fst-italic mb-4 px-4">
                                       {{testimonial.testimonial}}.
                                    </p>
                                    <img src="{{testimonial.get_photo_url}}" alt=""
                                       class="thumb-lg rounded-circle d-block mx-auto">
                                    <span class="text-uppercase text-muted fs-14 fw-medium">-
                                       {{testimonial.name}}</span>
                                    <ul class="list-inline mb-0 align-self-center">
                                       <li class="list-inline-item"><i class="la la-star text-warning fs-16"></i></li>
                                       <li class="list-inline-item"><i class="la la-star text-warning fs-16 ms-n2"></i>
                                       </li>
                                       <li class="list-inline-item"><i class="la la-star text-warning fs-16 ms-n2"></i>
                                       </li>
                                       <li class="list-inline-item"><i class="la la-star text-warning fs-16 ms-n2"></i>
                                       </li>
                                       <li class="list-inline-item"><i
                                             class="la la-star-half-o text-warning fs-16 ms-n2"></i>
                                       </li>
                                    </ul>
                                 </div>
                                 {% endfor %}
                              </div>
                           </div>
                           <button class="carousel-control-prev" type="button" data-bs-target="#demo"
                              data-bs-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                           </button>
                           <button class="carousel-control-next" type="button" data-bs-target="#demo"
                              data-bs-slide="next">
                              <span class="carousel-control-next-icon"></span>
                           </button>
                        </div>
                        <!--end client-carousel-->
                     </div>
                     <!--end col-->
                  </div>
                  <!-- end row -->
               </div>
               <!--end card-body-->
            </div>
            <!--end card-->
         </div>
         <!--end col-->
      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</section>
{% endif %}
<!-- end what client says -->

<!-- start projects -->
{% if projects %}
<section class="section" id="projects">
   <div class="container">
      <div class="row justify-content-center mb-4">
         <div class="col-12 col-md-10 col-lg-7 text-center">
            <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Work</span>
            <h2 class="fs-2 fw-medium lh-1 text-dark my-3">My Projects</h2>
            <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
               We craft digital, graphic and dimensional thinking, to create category leading brand experiences
               that have meaning .
            </p>
         </div>
         <!--end col-->
      </div>
      <!--end row-->
      <div class="row">
         <div class="col-12 filters-group-wrap">
            <div class="filters-group mb-5">
               <ul class="mb-0 list-unstyled filter-options filter-tab">
                  <li class="list-inline-item position-relative text-dark active" data-group="all">All</li>
                  {% if project_types %}
                  {% for project_type in project_types %}
                  {% if project_type.number_of_projects > 0 %}
                  <li class="list-inline-item position-relative text-dark" data-group="{{project_type.name}}">
                     {{project_type.name}}</li>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
               </ul>
            </div>
         </div>
         <!--end col-->
      </div>
      <!--end row-->
      <div class="row d-flex  g-1 justify-content-center" id="grid">
         {% for project in projects %}
         <div class="col-lg-4 col-md-6 picture-item" data-groups='["{{project.project_type.name}}"]'>
            <div class="card rounded shadow border-0 m-2">
               <div class="card-body p-4 m-2">
                  <div class="media mb-3">
                     <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                        <img src="{{project.get_main_image_url}}" alt="" class="thumb-md">
                     </div>
                     <div class="media-body ms-3 align-self-center">
                        <h5 class="text-dark fs-18 fw-medium m-0">{{project.name}}t</h5>
                        <p class="text-muted mb-0 fs-13">{{project.hosted_link}}<a href="{{project.hosted_link}}"><i
                                 class="ti ti-external-link fs-18 text-primary"></i></a></p>
                     </div>
                     <!--end media-body-->
                  </div>
                  <!--end media-->
                  {% for applied_knowledge in project.applied_knowledge.all %}
                  <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">
                     {{applied_knowledge.name}}
                  </span>
                  {% endfor %}
               </div>
               <!-- end card-body -->
            </div>
            <!-- end card -->
         </div>
         <!-- end col -->
         {% endfor %}
      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</section>
{% endif %}
<!-- end projects -->

<!-- our blogs -->
{% if blogs %}
<section class="section" id="blogs">
   <div class="container pb-5">
      <div class="row justify-content-center mb-4">
         <div class="col-12 col-md-10 col-lg-7 text-center">
            <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Blogs</span>
            <h2 class="fs-2 fw-normal lh-1 text-dark my-3">Latest news & insights</h2>
            <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
               We craft digital, graphic and dimensional thinking, to create category leading brand experiences
               that have meaning .
            </p>
         </div>
         <!--end col-->
      </div>
      <!--end row-->
      <div class="row align-items-center">
         {% for blog in blogs %}
         <div class="col-lg-4 col-md-6">
            <div class="card shadow">
               <img src="{{blog.get_blog_image_url}}" alt="" class="img-fluid rounded-top">
               <div class="card-body">

                  <a href="{% url 'frontend:blog_detail' %}" class="fs-20 my-0 d-block fw-medium">{{blog.title}}</a>
                  <hr class="hr-dashed">
                  <div class="d-flex justify-content-between">
                     <div class="meta-box">
                        <div class="media">
                           <img src="{{user.get_photo_url}}" alt=""
                              class="thumb-sm rounded-circle me-2 align-self-center">
                           <div class="media-body align-self-center text-truncate">
                              <h6 class="m-0 fs-14">{{blog.owner}}</h6>
                              <p class="mb-0 fs-12 text-muted">{{blog.publish_date|date:"d M Y"}}</p>
                           </div>
                           <!--end media-body-->
                        </div>
                     </div>
                     <!--end meta-box-->
                     <div class="align-self-center">
                        <a href="{% url 'frontend:blog_detail' %}" class="fs-14">Read more <i
                              class="ti ti-arrow-right align-self-center"></i></a>
                     </div>
                  </div>
               </div>
               <!--end card-body-->
            </div>
            <!--end card-->
         </div>
         {% endfor %}
         <!--end col-->
      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</section>
{% endif %}
<!--end projects-->

<!-- start contact us -->
<section class="section bg-light" id="contact">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="card bg-white"
               style="background: url('static/frontend/images/personal/testi-pet.png'); background-repeat: no-repeat; background-size: 15%; background-position: right bottom;">
               <div class="card-body">
                  <div class="row">
                     <div class="col-md-8">
                        <h2 class="fs-2 fw-normal lh-1 text-dark mb-3">Get in touch !</h2>
                        <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 ">Always available for freelancing
                           if the right project <br> comes along, Feel free to contact me.</p>
                        <form method="post" name="myForm" onsubmit="return validateForm()">
                           <span id="error-msg"></span>
                           <div class="row">
                              <div class="col-md-6 mb-3">
                                 <label class="fw-medium form-label fs-16" for="name">Name</label>
                                 <input type="text" class="form-control" placeholder="Your name" id="name" />
                              </div>
                              <!-- end col -->
                              <div class="col-md-6 mb-3">
                                 <label class="fw-medium form-label  fs-16" for="email">Email</label>
                                 <input type="email" class="form-control" placeholder="Your email" id="email" />
                              </div>
                              <!-- end col -->
                              <div class="col-md-6 mb-3">
                                 <label class="fw-medium form-label  fs-16" for="subject">Subject</label>
                                 <input type="text" class="form-control" placeholder="your subject" id="subject" />
                              </div>
                              <!-- end col -->
                              <div class="col-md-6 mb-3">
                                 <label class="fw-medium form-label  fs-16" for="number">Contact</label>
                                 <input type="text" class="form-control" placeholder="+00 1234 5678 90" id="number" />
                              </div>
                              <!-- end col -->
                              <div class="col-12 mb-3">
                                 <label class="fw-medium form-label  fs-16" for="comments">Message</label>
                                 <textarea class="form-control" id="comments" placeholder="Enter your message..."
                                    rows="5"></textarea>
                              </div>
                              <!-- end col -->
                              <div class="col-12">
                                 <input type="submit" id="submit" name="send" class="btn btn-primary mt-2"
                                    value="Send message" />
                              </div>
                              <!-- end col -->
                           </div>
                           <!--end row-->
                        </form>
                        <!-- end form -->
                     </div>
                     <!-- end col -->
                     <div class="col-md-4">
                        <img src="{% static 'frontend/images/personal/contact.svg' %}" alt="" height="200"
                           class=" mx-auto d-block mb-5">
                        <div class="d-flex">
                           <div class="bg-light d-flex justify-content-center align-items-center thumb-lg  rounded">
                              <i class="ti ti-phone fs-22"></i>
                           </div>
                           <div class="align-self-center ms-3">
                              <span class="d-block lh-1">+1 234 567 89</span>
                              <span class="text-muted fs-14 mt-n2">9:00am to 7:00pm</span>
                           </div>
                        </div>
                        <hr class="hr-dashed my-3">
                        <div class="d-flex">
                           <div class="bg-light d-flex justify-content-center align-items-center thumb-lg  rounded">
                              <i class="ti ti-mail fs-22"></i>
                           </div>
                           <div class="align-self-center ms-3">
                              <span class="d-block lh-1">example@example.com</span>
                              <span class="text-muted fs-14 mt-n2">Monday to Saturday</span>
                           </div>
                        </div>
                     </div>
                     <!--end col-->
                  </div>
                  <!-- end row -->
               </div>
               <!--end card-body-->
            </div>
            <!--end card-->
         </div>
         <!-- end col -->
      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</section>
<!-- end contact us -->

{% endblock content %}