{% extends "website/base/base.html" %}
{% load static %}
{% block content %}

<!-- start hero -->
<section class="hero-one position-relative bg-black" id="projects"
    style="background-image: url(images/personal/main-bg.png); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="row align-items-center justify-content-center py-100">
            <div class="col-lg-7 text-center py-5 text-center">
                <h5 class="head-title py-4" aria-label="Projects"></h5>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- end container -->
</section>
<!-- end hero -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- start resume -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 filters-group-wrap">
                <div class="filters-group mb-5">
                    <ul class="mb-0 list-unstyled filter-options filter-tab">
                        <li class="list-inline-item position-relative text-dark active" data-group="all">All</li>
                        {% if project_types %}
                        {% for project_type in project_types %}
                        {% if project_type.number_of_projects > 0 %}
                        <li class="list-inline-item position-relative text-dark" data-group="{{project_type.name}}">
                            {{project_type.name}}</li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!--end col-->
        <div class="row d-flex  g-1 justify-content-center" id="grid">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["{{project.project_type.name}}"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="card-body p-4 m-2">
                        <div class="media mb-3">
                            <div
                                class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                                <img src="{{project.get_main_image_url}}" alt="" class="thumb-md">
                            </div>
                            <div class="media-body ms-3 align-self-center">
                                <h5 class="text-dark fs-18 fw-medium m-0">{{project.name}}</h5>
                                <p class="text-muted mb-0 fs-13">{{project.hosted_link}}<a
                                        href="{{project.hosted_link}}"><i
                                            class="ti ti-external-link fs-18 text-primary"></i></a></p>
                            </div>
                            <!--end media-body-->
                        </div>
                        <!--end media-->
                        {% for applied_knowledge in project.applied_knowledge.all %}
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">
                            {{applied_knowledge.name}}
                        </span>
                        {% endfor %}
                </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
            {% endfor %}
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end resume -->

{% endblock content %}