{% extends "base/base.html" %}
{% block title %}Blogs{% endblock title %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block page_title_ %}{{page_title}}{% endblock page_title_ %}
{% block content %}
   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <div class="row">
                     <div class="col-lg-12 mt-3">
                        <div class="d-flex justify-content-end">
                           <a href="{% url 'backend:create_blog' %}" class="btn btn-sm btn-primary"><i class="bi bi-plus"></i></a>
                        </div>
                     </div>
                     <!-- Table with stripped rows -->
                     <table class="table datatable">
                        <thead>
                           <tr>
                              <th scope="col">#</th>
                              <th scope="col">Author</th>
                              <th scope="col">Title</th>
                              <th scope="col">Date Created</th>
                              <th scope="col">Publish Status</th>
                              <th scope="col">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for blog in blogs %}
                           <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td>{{blog.owner}}</td>
                              <td>{{blog.title|truncatewords:7}}</td>
                              <td>{{blog.date_created|date:"D M, Y"}}</td>
                              <td>
                                 <div
                                        class="badge bg-{{blog.published|yesno:"success,danger"}}">{{blog.published|yesno:"Yes,No"}}</div>
                              <td>
                                 <div class="d-flex flex-row">
                                    <div class="mx-2">
                                       <form action="{% url 'backend:blog_detail' %}" method="POST">
                                          {% csrf_token %}
                                          <input type="hidden" name="blog_id" value="{{blog.id}}">
                                          <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-eye"></i></button>
                                       </form>
                                    </div>
                                    <div class="">
                                       <form action="{% url 'backend:delete_blog' %}" method="post">
                                          {% csrf_token %}
                                          <input type="hidden" name="blog_id" value="{{blog.id}}">
                                          <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                                       </form>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                     <!-- End Table with stripped rows -->

                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>

</main>
{% endblock content %}